#header {
	background: #222224;
	border-top: 5px solid #1d1d1f;
}
#header.flat-menu nav ul.nav-main li.active > a {
	color: #c13d3a;
}
#header.single-menu nav ul.nav-main li.active > a {
	border-top: 5px solid #c13d3a;
}
ul.social-icons li {
	border-radius: 0;
}
#header.flat-menu nav ul.nav-main li > a:hover, #header.flat-menu nav ul.nav-main li.dropdown:hover a {
	background-color: transparent !important;
	background: -webkit-radial-gradient(bottom,#6f2f2f,#232224);
	background: radial-gradient(at bottom,#6f2f2f,#232224);
}
.slider-container .top-label {
	color: #000;
}
section.highlight {
	background-color: #842a28 !important;
	border: 0;
}
.thumb-info .thumb-info-action-icon {
	background-color: #842a28;
}
.thumb-info .thumb-info-type {
	background-color: #842a28;
}
.inverted {
	background-color: #842a28;
}